In [17]:
import pandas as pd
import numpy as np

In [18]:
my_data = np.random.randn(4,3) # 4 rows, 3 columns
my_rows = ['A','B','C','D']
my_cols = ['Monday', 'Tuesday', 'Friday']
my_data

array([[ 0.9453974 , -1.14188167,  0.45904055],
       [-1.49249547, -0.68082019,  1.74670387],
       [-1.17440286,  1.17037823,  0.37708938],
       [ 0.66351509,  0.86094007, -0.93693701]])

In [19]:
# Create Data Frame
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A  0.945397 -1.141882  0.459041
B -1.492495 -0.680820  1.746704
C -1.174403  1.170378  0.377089
D  0.663515  0.860940 -0.936937

In [24]:
# import csv file
my_df2 = pd.read_csv('dog_data.csv')
my_df2

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [31]:
# Pull out rows
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [32]:
my_df2.loc[[0,1,5,3]]

              Breed        Color  DogName  OwnerZip
0          COCKAPOO        BROWN  CHARLEY     15236
1      GER SHEPHERD  BLACK/BROWN   TACODA     15238
5  SCOTTISH TERRIER        BLACK   BAILEY     15129
2     BELG MALINOIS      BRINDLE     EICH     15238