In [2]:
import pandas as pd
import numpy as np

In [12]:
my_df = pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [13]:
# Grab Row (Location)
my_df.loc[1]

Breed       GER SHEPHERD
Color        BLACK/BROWN
DogName           TACODA
OwnerZip           15238
Name: 1, dtype: object

In [14]:
# Grab row (Index Location) if our row names are not digits from 0 to X, we can still reffer to them as indexes using iloc
my_df.iloc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [15]:
# Specific point
my_df.loc[1,'DogName'] # Tacoda

'TACODA'

In [18]:
# Subsets ['row', 'row'], ['column', 'column', 'column']
my_df.loc[[1,3], ['DogName', 'Breed', 'Color']]

  DogName         Breed        Color
1  TACODA  GER SHEPHERD  BLACK/BROWN
3   ARROW         MIXED  BLACK/BROWN